@media (max-width: 768px) {
    .about_collapses {
       
        margin-top: 1.7rem;
    }
}

.about {
    &_collapses {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 55px;
        padding-right: 55px;
        margin-top: 1.5rem;
        &_content {
            margin-bottom: 0.5rem;
            width: 95%;
            color: #000;
            
        }
    }
}